fastapi
uvicorn[standard]
python-multipart
pydantic
llama-index
llama-index-vector-stores-chroma
llama-index-embeddings-huggingface
sentence-transformers
chromadb
httpx
pypdf

#ML training
transformers
datasets
peft
accelerate
bitsandbytes
trl
torch